*,
*:before,
*:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
    background-color: #FAFAFA;
    max-width: 76.8rem;
    margin: 0 auto;
}

/* Typoghrapy */

h1 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.1;
    color: #28283D;
}
h2 {
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 1.1;
    color: #28283D;
}
h4 {
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #4D96A9;
    text-transform: uppercase;
    letter-spacing: 4px;
}
p {
    font-weight: 500;
    line-height: 1.5;
    color: #87879D;
}

/* Button */

.btn {
    border-radius: 3rem;
    font-weight: 900;
    font-size: 1.6rem;
    font-family: inherit;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border: none;
}
.btn-download {
    background-color: #4D96A9;
    padding: 1.8rem 4rem;

}
.btn-download:hover {
    background-color: #71C0D4;
}
.btn-download span {
    color: #8FE3F9;
}
.btn-what {
    background-color: #855FB1;
    padding: 1.8rem 2.9rem;

}
.btn-what:hover {
    background-color: #B18BDD;
}

/* helpers
--------------------------------------------- */
.mt-64 {
    margin-top: 6.4rem;
}




/* header
--------------------------------------------- */


header {
    display: flex;
    justify-content: center;
    padding-block: 5rem;
}

/* hero section
--------------------------------------------- */
.hero-section img {
    margin-left: 50%;
    transform: translateX(-50%);
}


.hero-text {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 4.8rem;
    padding-inline: 2.4rem;
}
.hero-text h1 {
    max-width: 10ch;
    justify-self: center;
    margin-bottom: 2.4rem;
}
.hero-text p {
    margin-bottom: 3.2rem;
    max-width: 32ch;
    justify-self: center;
}

.hero-btn {
    display: grid;
    gap: 1.6rem;
    justify-items: center;
}


/* main section
--------------------------------------------- */

.main-section {
    padding-inline: 2.4rem;
}

.step-container {
    height: 14rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.step {
    border-radius: 50%;
    width: 5.6rem;
    height: 5.6rem;
    color: #87879d;
    border: 1px solid rgba(135, 135, 157, 0.25);
    background-color: #FAFAFA;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step::after {
    content:"";
    height: 8.4rem;
    width: 1px;
    background-color: rgba(135, 135, 157, 0.25);
    position: absolute;
    bottom: 5.5rem;
    display: inline-block;
}

.step-container-2 {
    margin-top: 3.6rem;
}
.step-2 {
    transform: translateY(50%);
}

/* Gallery */

.main-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2.5rem;
}

.main-gallery img {
    border-radius: 10px;
    width: 100%;
}

/* Text */

.main-text {
    text-align: center;
}
.main-text h2 {
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
}

/* footer
--------------------------------------------- */

footer {
    background: linear-gradient(rgba(77, 151, 169, 0.85), rgba(77, 151, 169, 0.85)), url(assets/mobile/image-footer.jpg) top center/cover no-repeat;
    text-align: center;
    padding-inline: 2.4rem;
    padding-bottom: 7.2rem;
    padding-top: 9.2rem;
}
footer h2,
footer p {
    color: #FAFAFA;
}

footer p {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
}
.btn-footer {
    background-color: #855FB1;
}
.btn-footer:hover {
    background-color: #B18BDD;
}

